p {
	color: orange;
	font-size: 16px;
}

.kiki {
	color: red;
	font-size: 30px;
}

#main {
	float: left;
	max-width: 100%;
	margin: 20px auto;
	padding: 50px;
	border-width: 10px;
	border-color: #414142;
	background-color: #880000;
}