<!Doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css">
	<script type="javascript" src="../public/javascripts/main.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Hello World</title>
	<script type="text/javascript">
		window.addEventListener('scroll', setTopBar, false);

		function setAutoLoad() {
			var scroll = getNowScroll.Y;
			var num = 2;

			if((scroll/3000) == 1) {
				loadNewPage();
			}
		}


		function loadNewPage(num) {
			var newPage = document.createElement("div");
			newPage.className = "mainPage";

			for(var i=0; i<5; i++) {
				var id = ((num*100)+i);
				var newClusterContainer = document.createElement("div");
				newClusterContainer.className = "clusterContainer";

				var newCluster = document.createElement("div");
				newCluster.className = "cluster";

				var newClusterHeading = document.createElement("h1");
				newClusterHeading.className = "clusterHeading";
				newClusterHeading.innerHTML = i + ". Cluster"
				var newCardHolder = document.createElement("div");
				newCardHolder.className = "cardHolder";
				newCardHolder.id = "cardHolder" + id.toString();
				newCardHolder.innerHTML = "";

				newCluster.appendChild(newClusterHeading);
				newCluster.appendChild(newCardHolder);

				newClusterContainer.appendChild(newCluster);
				newPage.appendChild(newClusterContainer);
			}
			document.getElementById("mainContainer").appendChild(newPage);

			for(var i = 0; i < 5; i++) {
				var id = ((num*100)+i);
				reload("cardHolder" + id.toString());
			}
		}

		function setTopBar() {
			var scroll = getNowScroll().Y;

			if(scroll>=60) {
				document.getElementById("navContainer").className = "navContainer sticky";
				document.getElementById("actionBarContainer").className = "actionBarContainer sticky";
				document.getElementById("mainContainer").className = "mainFixed";
			} else {
				document.getElementById("navContainer").className = "navContainer";
				document.getElementById("actionBarContainer").className = "actionBarContainer";
				document.getElementById("mainContainer").className = "";
			}
		}

		function getNowScroll() {
			var de = document.documentElement;
			var b = document.body;
			var now = {};

			now.X = document.all ? (!de.scrollLeft ? b.scrollLeft : de.scrollLeft) : (window.pageXOffset ? window.pageXOffset : window.scrollX);
			now.Y = document.all ? (!de.scrollTop ? b.scrollTop : de.scrollTop) : (window.pageYOffset ? window.pageYOffset : window.scrollY);

			return now;
		}


		window.addEventListener('resize', reload);
		function getWidth(elementId) {
			var wid = document.getElementById(elementId).clientWidth;
			return wid;
		}

		function reload(elementId) {
			document.getElementById(elementId).innerHTML = "";

			for(i=0; i<Math.floor(getWidth(elementId)/160); i++) {
				newCardContainer = document.createElement("div");
				newCardContainer.className = "cardContainer";

				newCard = document.createElement("div");
				newCard.className = "card";
				newCard.innerHTML = i + " content";

				newCardContainer.appendChild(newCard);

				document.getElementById(elementId).appendChild(newCardContainer);
			}
		}
	</script>
</head>
<body>
	<div class="header-container">
		<div class="header">
			<div class="headerBox headerOptionBox">
				optionbox
			</div>

			<div class="headerBox headerLogoBox">
				<div class="headerLogo">
					<a 
					href="http://google.com"
					style="display: inline-block;
					vertical-align: middle;">
						<span class="headerLogoImg"></span>
					</a>
				</div>
			</div>
			
			<div class="headerBox headerSearchBox">
				<div class="headerSearch">
					<form class="headerSearchForm" method="search" action"">
							<input 
								class="headerSearchInput"
								name="headerSearchinput" type="text"
								value placeholder="검색"/>
							<button
								class="headerSearchButton" type="button">
								<span class="headerSearchButtonIcon"/>
							</button>
						</form>
					</div>
			</div>
		</div>
	</div>

	<div class="wrapper">
		<div class="navContainer" id="navContainer">
			<ul class="nav">
				<li class="navListItem home">
					<a href="" class="navListItemLink">
						<span class="navListHover">
							<span class="navListItemLinkIconContainer">
								<span class="navListItemLinkIcon home"></span>
							</span>
							<span class="navListItemLinkTitle" style="color: #FFF;">
								스토어
							</span>
						</span>
					</a>
				</li>
				<li class="navListItem">
					<a href="" class="navListItemLink">
						<span class="navListHover app">
							<span class="navListItemLinkIconContainer app">
								<span class="navListItemLinkIcon app"></span>
							</span>
							<span class="navListItemLinkTitle">
								앱
							</span>
						</span>
					</a>
				</li>
				<li class="navListItem">
					<a href="" class="navListItemLink">
						<span class="navListHover movie">
							<span class="navListItemLinkIconContainer movie">
								<span class="navListItemLinkIcon movie"></span>
							</span>
							<span class="navListItemLinkTitle">
								영화
							</span>
						</span>
					</a>
				</li>
				<li class="navListItem">
					<a href="" class="navListItemLink">
						<span class="navListHover book">
							<span class="navListItemLinkIconContainer book">
								<span class="navListItemLinkIcon book"></span>
							</span>
							<span class="navListItemLinkTitle">
								도서
							</span>
						</span>
					</a>
				</li>
				<li class="navListItem">
					<a href="" class="navListItemLink">
						<span class="navListHover device">
							<span class="navListItemLinkIconContainer device">
								<span class="navListItemLinkIcon device"></span>
							</span>
							<span class="navListItemLinkTitle">
								기기
							</span>
						</span>
					</a>
				</li>
				<li class="subNavContainer">
					<ul class="subNav">
						<li class="subNavItem">
							<a href="" class="subNavItemLink">
							내 게임 활동
							</a>
						</li>
						<li class="subNavItem">
							<a href="" class="subNavItemLink">
							내 위시리스트
							</a>
						</li>
						<li class="subNavItem">
							<a href="" class="subNavItemLink">
							프로모션 코드 사용
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="actionBarContainer" id="actionBarContainer">
			<div id="actionBar">
				<div id="actionBarOptionItem" class="actionBarItem">	
				</div>
			</div>
		</div>
		<div id="mainBeginning"></div>
		<div id="mainContainer">
			<script type="text/javascript">
				document.getElementById("test").appendChild(view.loadNewPage());
			</script>
			<script type="text/javascript">loadNewPage(1);</script>
			<script type="text/javascript">loadNewPage(2);</script>
			<script type="text/javascript">loadNewPage(3);</script>
			<div class="mainRow">
				<div class="cluster">
					<h1 class="clusterHeading">금주의 Play 추천 게임</h1>
					<div class="cardHolder" id="cardHolder05">
						<script type="text/javascript">reload("cardHolder05");</script>
					</div>
				</div>
			</div>
		</div>
		<div id="footer"></div>
	</div>
</body>