<!Doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Hello World</title>
</head>
<body>
	<div class="header-container">
		<div class="header">
			<div class="headerBox headerOptionBox">
				optionbox
			</div>

			<div class="headerBox headerLogoBox">
				<div class="headerLogo">
					<a 
					href="http://google.com"
					style="display: inline-block;
					vertical-align: middle;">
						<span class="headerLogoImg"></span>
					</a>
				</div>
			</div>
			
			<div class="headerBox headerSearchBox">
				<div class="headerSearch">
					<form class="headerSearchForm" method="search" action"">
							<input 
								class="headerSearchInput"
								name="headerSearchinput" type="text"
								value placeholder="Search"/>
							<input
								class="headerSearchButton" type="button" value="Search"/>
						</form>
<!--  						<button class="headerSearchButton"/> -->
					</div>
			</div>
		</div>
	</div>

	<div class="wrapper">
		<div class="navContainer">
			<ul class="nav">
				<li class="navListItem home">
					<a href="" class="navListItemLink">
						<span class="navListItemLinkIcon">
							
						</span>
						<span class="navListItemLinkTitle"></span>
					</a>
				</li>
				<li class="navListItem">
					<a href="" class="navListItemLink">
						<span class="navListItemLinkIcon app">
							
						</span>
						<span class="navListItemLinkTitle"></span>
					</a>
				</li>
				<li class="navListItem">
					<a href="" class="navListItemLink">
						<span class="navListItemLinkIcon movie">
							
						</span>
						<span class="navListItemLinkTitle"></span>
					</a>
				</li>
				<li class="navListItem">
					<a href="" class="navListItemLink">
						<span class="navListItemLinkIcon book">
							
						</span>
						<span class="navListItemLinkTitle"></span>
					</a>
				</li>
				<li class="navListItem">
					<a href="" class="navListItemLink">
						<span class="navListItemLinkIcon device">
							
						</span>
						<span class="navListItemLinkTitle"></span>
					</a>
				</li>
				<li class="subNavContainer">
					<ul class="subNav">
						<li class="subNavItem">
							<a href="" class="subNavItemLink">
							jjj
							</a>
						</li>
						<li class="subNavItem">
							<a href="" class="subNavItemLink">
							lll
							</a>
						</li>
						<li class="subNavItem">
							<a href="" class="subNavItemLink">
							hhh
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div id="actionBarContainer">
			<div id="actionBar">
				<div id="actionBarOptionItem" class="actionBarItem">	
				</div>
			</div>
		</div>
		<div id="main"></div>
		<div id="footer"></div>
	</div>
</body>