<!Doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script data-main="js/main" src="js/require.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Hello World</title>
</head>
<body>
	<div class="header-container">
		<div class="header">
			<div class="headerBox headerOptionBox">
				optionbox
			</div>

			<div class="headerBox headerLogoBox">
				<div class="headerLogo">
					<a 
					href="http://google.com"
					style="display: inline-block;
					vertical-align: middle;">
						<span class="headerLogoImg"></span>
					</a>
				</div>
			</div>
			
			<div class="headerBox headerSearchBox">
				<div class="headerSearch">
					<form class="headerSearchForm" method="search" action"">
							<input 
								class="headerSearchInput"
								name="headerSearchinput" type="text"
								value placeholder="검색"/>
							<button
								class="headerSearchButton" type="button">
								<span class="headerSearchButtonIcon"/>
							</button>
						</form>
					</div>
			</div>
		</div>
	</div>

	<div class="wrapper">
		<div class="navContainer" id="navContainer">
			<ul class="nav">
				<li class="navListItem home">
					<a href="" class="navListItemLink">
						<span class="navListHover">
							<span class="navListItemLinkIconContainer">
								<span class="navListItemLinkIcon home"></span>
							</span>
							<span class="navListItemLinkTitle" style="color: #FFF;">
								스토어
							</span>
						</span>
					</a>
				</li>
				<li class="navListItem">
					<a href="" class="navListItemLink">
						<span class="navListHover app">
							<span class="navListItemLinkIconContainer app">
								<span class="navListItemLinkIcon app"></span>
							</span>
							<span class="navListItemLinkTitle">
								앱
							</span>
						</span>
					</a>
				</li>
				<li class="navListItem">
					<a href="" class="navListItemLink">
						<span class="navListHover movie">
							<span class="navListItemLinkIconContainer movie">
								<span class="navListItemLinkIcon movie"></span>
							</span>
							<span class="navListItemLinkTitle">
								영화
							</span>
						</span>
					</a>
				</li>
				<li class="navListItem">
					<a href="" class="navListItemLink">
						<span class="navListHover book">
							<span class="navListItemLinkIconContainer book">
								<span class="navListItemLinkIcon book"></span>
							</span>
							<span class="navListItemLinkTitle">
								도서
							</span>
						</span>
					</a>
				</li>
				<li class="navListItem">
					<a href="" class="navListItemLink">
						<span class="navListHover device">
							<span class="navListItemLinkIconContainer device">
								<span class="navListItemLinkIcon device"></span>
							</span>
							<span class="navListItemLinkTitle">
								기기
							</span>
						</span>
					</a>
				</li>
				<li class="subNavContainer">
					<ul class="subNav">
						<li class="subNavItem">
							<a href="" class="subNavItemLink">
							내 게임 활동
							</a>
						</li>
						<li class="subNavItem">
							<a href="" class="subNavItemLink">
							내 위시리스트
							</a>
						</li>
						<li class="subNavItem">
							<a href="" class="subNavItemLink">
							프로모션 코드 사용
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="actionBarContainer" id="actionBarContainer">
			<div id="actionBar">
				<div id="actionBarOptionItem" class="actionBarItem">	
				</div>
			</div>
		</div>
		<div id="mainBeginning"></div>
		<div id="mainContainer"></div>
		<div id="footer"></div>
	</div>
</body>